/* BLOBALI -------------------- */

body {
  overflow-x: hidden;
}

/* CSS MAIN -------------------- */

/* Contenitore con immagine */
.container-image-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../img/jumbotron.jpg");
  min-height: 400px;
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
  position: relative;
}

/* Titolo della pagina */
.title-box {
  max-width: 300px;
  position: absolute;
  bottom: -25px; /* valore fisso se preferisci */
  left: 5%;
  z-index: 10; /* opzionale per metterlo sopra */
}

/* Pulsante BLU */

.load-more-button {
  width: 200px;
  height: 50px;
}

/* CSS FOOTER -------------------- */

/* Overlay Footer*/

.background-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../img/jumbotron.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Eliminazione stili list*/
.footer ul {
  list-style: none;
  padding-left: 0;
}

/* Colore testo Footer*/

.text-color-footer {
  color: #a0a0a0;
}

/* Colore contact Bar*/
.contact-bar {
  background-color: #333;
}
